 <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
				<li class="sidebar-brand">
					<h1>
						<a class="page-nav" href="{{site.baseurl}}/">{{ site.title }}</a>
					</h1>					
                </li>
                
				<li>
                    <a class="page-nav" href="{{site.baseurl}}/about/">About</a>
                </li>
				<li>
                    <a class="page-nav" href="{{site.baseurl}}/">Blog</a>
                </li>
                <li>
                    <a class="page-nav" href="{{site.baseurl}}/archive/">Archive</a>
                </li>
                
                   <li>
                    <a class="page-nav" href="{{site.baseurl}}/search/">Search</a>
                </li>
            </ul>
        </div>
